a.card-10(href=link)
  .card-10__img
    img(src=img, width=400, height=400)
  .card-10__content
    h3.card-10__title #{ title }
    p.card-10__text #{ text }
    .card-10__border
      span
      span
      span
      span
