$BLOCK_NAME: '.scroll-anim-02';

// 変数
$easing_default: cubic-bezier(0.545, 0.08, 0.52, 0.975);

#{ $BLOCK_NAME } {
  filter: blur(10px);
  opacity: 0;
  transition-timing-function: $easing_default;
  transition-duration: 0.5s;
  transition-property: opacity, filter;
  &.is-animated {
    filter: blur(0);
    opacity: 1;
  }
}
