#js-other-17.other-17
  span
    each char in '2022NEN'
      span #{ char }
  span
    each char in 'RYUKOUGO TAISHO'
      span #{ char }
  span
    each char in 'MURAKAMISAMA!!'
      span #{ char }