$BLOCK_NAME: '.button-29';

// 変数
$color_primary: #87c870;
$offset_border: 16px;
$radius_default: 8px;

#{ $BLOCK_NAME } {
  position: relative;
  display: inline-block;
  padding: 16px 24px;
  color: $color_primary;

  &::before,
  &::after {
    position: absolute;
    content: '';
  }

  &::before {
    top: 0;
    right: $offset_border;
    bottom: $offset_border;
    left: 0;
    border-top: 1px solid $color_primary;
    border-left: 1px solid $color_primary;
    border-top-left-radius: $radius_default;
  }

  &::after {
    top: $offset_border;
    right: 0;
    bottom: 0;
    left: $offset_border;
    border-right: 1px solid $color_primary;
    border-bottom: 1px solid $color_primary;
    border-bottom-right-radius: $radius_default;
  }

  & > span {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 32px;
    font-size: 16px;
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 8px;
      height: 8px;
      margin: auto;
      content: '';
      border-top: 1px solid $color_primary;
      border-right: 1px solid $color_primary;
      transform: rotate(45deg);
    }
  }

  &:hover {
    color: $color_primary;
  }
}
