.container.is-desktop.content
  a(href='#') アンカー
  em 強調
  strong 強い重要性
  small 附随コメント
  s 取り消し
  cite 引用元
  q インライン引用
  dfn 定義
  //- 略語
  abbr(title='Laugh Out Loud') LOL
  //- ルビ注釈
  ruby 明日
    rp （
    rt Ashita
    rp ）
  ul
    li
      data(value='398') ミニケチャップ
      data(value='399') ジャンボケチャップ
      data(value='400') メガジャンボケチャップ
  time(datetime='2018-07-07') July 7
  time(datetime='20:00') 20:00
  //- インラインコード
  code push()
  //- 変数
  var x
  samp サンプル出力
  //- キーボード入力
  kbd Ctrl
  sub 下付き文字
  sup 上付き文字
  i 慣用テキスト
  b 注目付け
  u 非言語的注釈（下線）
  mark テキストマーク
  bdi 書字方向分離
  bdo 双方向文字列上書き
  span コンテンツ区間
  br
  //- 改行可能
  wbr