ul.scroll-anim-08.js-scroll-anim-08
  each link in linkItems
    li.scroll-anim-08__item
      a.scroll-anim-08__link(href=link.link)
        .scroll-anim-08__img
          img(src=link.img, width=200, height=300)
        p.scroll-anim-08__text #{ link.text }
          i.scroll-anim-08__icon.fas.fa-arrow-right
