ul.faq-01
  each faq in faqItems
    li.faq-01__item.js-faq-01-item
      .faq-01__question
        span.faq-01__question-icon
        span.faq-01__question-text #{ faq.question }
        span.faq-01__question-opener
      .faq-01__answer
        span.faq-01__answer-icon #{ faq.answer }
