$BLOCK_NAME: '.faq-01';

// 変数
$color_primary: #00d2ff;
$color_secondary: #e3ff00;
$color_answer_bg: #a6e8eb;
$color_white: #fff;
$shadow_default: 0 0 20px 0 rgba(0, 0, 0, 0.15);
$shadow_question: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
$duration_default: 0.4s;

#{ $BLOCK_NAME } {
  font-family: 'M PLUS 1p', sans-serif;
  &__item {
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: $shadow_default;
    & + & {
      margin-top: 30px;
    }
  }
  &__question {
    position: relative;
    padding: 30px 80px 30px 106px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;
    @at-root #{ $BLOCK_NAME }__item.is-active & {
      box-shadow: $shadow_question;
    }
  }
  &__question-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 36px;
    display: block;
    width: 36px;
    height: 36px;
    margin: auto;
    background: url(https://www.digireha.com/assets/img/letters/q@2x.png)
      no-repeat center center;
    background-size: contain;
  }
  &__question-text {
    transition: opacity $duration_default;
    @at-root #{ $BLOCK_NAME }__question:hover & {
      opacity: 0.4;
    }
  }
  &__question-opener {
    position: absolute;
    top: 0;
    right: 36px;
    bottom: 0;
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    &::before,
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      margin: auto;
      content: '';
    }
    &::before {
      width: 100%;
      height: 6px;
      background: $color_primary;
    }
    &::after {
      z-index: 1;
      width: 6px;
      height: 100%;
      background: $color_secondary;
      @at-root #{ $BLOCK_NAME }__item.is-active & {
        opacity: 0;
      }
    }
  }
  &__answer {
    position: relative;
    display: none;
    padding: 47px 60px 40px 106px;
    font-size: 14px;
    font-weight: 500;
    background: $color_answer_bg;
    @at-root #{ $BLOCK_NAME }__item.is-active & {
      display: block;
    }
  }
  &__answer-icon {
    position: absolute;
    top: 30px;
    left: 24px;
    width: 60px;
    height: 60px;
    padding: 12px;
    background: $color_white;
    border-radius: 8px;
    &::after {
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: url(https://www.digireha.com/assets/img/letters/a@2x.png)
        no-repeat center center;
      background-size: contain;
    }
  }
}
