.other-23#js-other-23
  .other-23__circle


//- <div class="p-top-business__type u-fadeInMask js-visible is-visible">
//-   <div class="p-top-business__typeCircle" style="translate: none; rotate: none; scale: none; transform: translate(932.224px, 1967.22px);"></div>
//- </div>