<!-- TODO: JSでアニメーションを付ける -->
<a href="" class="button-10">
  <span class="button-10__text js-button-04-text">
    != textEn
  </span>
  <span class="button-10__hover-text js-button-04-hover-text">
    != text
  </span>
  <span class="button-10__arrow"></span>
</a>
