#js-utility-10.utility-10.p-2
  .field.has-addons
    .control
      input#js-utility-10-form.input(type='text', placeholder='例：タオル')
    .control
      button#js-utility-10-form-btn.button.is-primary 検索
  #js-utility-10-items

// 商品詳細モーダル
#js-utility-10-modal.modal
  .modal-background.js-utility-10-modal-close
  .modal-card
    header.modal-card-head
      p#js-utility-10-modal-title.modal-card-title
      button.js-utility-10-modal-close.delete(aria-label='close')
    section.modal-card-body.content.mb-0
      figure.image.is-2by1
        img#js-utility-10-modal-img
      p#js-utility-10-modal-detail
      p
        span#js-utility-10-modal-price.is-size-3
        | 円
    footer.modal-card-foot
      .field.has-addons
        .control
          input#js-utility-10-modal-input.input(type='number', value='0', step='1', min='0')
        .control
          button#js-utility-10-modal-btn.button.is-primary カートに入れる

// 商品カートボタン
button#js-utility-10-cart-btn.utility-10__cart-btn.button.is-medium
  span.icon
    i.fas.fa-shopping-cart.fa-lg

// 商品カートモーダル
#js-utility-10-cart-modal.modal
  .modal-background.js-utility-10-cart-modal-close
  .modal-card
    header.modal-card-head
        p.modal-card-title 商品カート
        button.js-utility-10-cart-modal-close.delete(aria-label='close')
    section#js-utility-10-cart-modal-body.modal-card-body.content.mb-0
    footer.modal-card-foot
      | 合計料金
      span#js-utility-10-cart-modal-total.pl-4
      | 円
