#js-utility-10.utility-10.p-2
  .field.has-addons
    .control
      input#js-utility-10-form.input(type='text', placeholder='例：')
    .control
      button#js-utility-10-form-btn.button.is-primary 検索
  #js-utility-10-items
