// ※fractalで他のパーツとJSを共有している関係上記載。サイト全体で有効にする想定のため、本来は不要
#js-utility-03
  //- .modal.is-active
  //-   .modal-background
  //-   .modal-content
  //-     a.utility-03__banner(href='#')
  //-       .image.is-square
  //-         img(src='https://bulma.io/images/placeholders/256x256.png')
  //-   button.modal-close.is-large(aria-label='close')
