$BLOCK_NAME: '.scroll-anim-22';

// 変数
$color_black: #000;
$duration_default: 0.5s;

#{ $BLOCK_NAME } {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9px;
    width: 2px;
    content: '';
    background: $color_black;
    @include Mq(md) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__item {
    position: relative;
    opacity: 0;
    transition: all $duration_default;
    transform: translateY(20px);
    &.is-animated {
      opacity: 1;
      transform: translateY(0);
    }
    @include Mq(md) {
      position: relative;
      display: flex;
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    &::after {
      position: absolute;
      top: 18px;
      left: 0;
      display: block;
      width: 20px;
      height: 20px;
      content: '';
      background: $color_black;
      border-radius: 50%;
      @include Mq(md) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__info {
    padding: 12px;
    padding-left: 36px;
    @include Mq(md) {
      flex-shrink: 0;
      width: 50%;
    }
    @at-root #{ $BLOCK_NAME }__item:nth-child(odd) & {
      @include Mq(md) {
        padding-right: 32px;
        padding-left: 0.75rem;
        text-align: right;
      }
    }
    @at-root #{ $BLOCK_NAME }__item:nth-child(even) & {
      @include Mq(md) {
        padding-right: 0.75rem;
        padding-left: 32px;
      }
    }
  }

  &__job {
    font-size: 24px;
    font-weight: bold;
  }

  &__company {
    font-size: 14px;
  }

  &__term {
    margin-top: 8px;
    font-size: 14px;
  }

  &__text-wrapper {
    padding: 12px;
    padding-left: 36px;
    @include Mq(md) {
      flex-shrink: 0;
      width: 50%;
    }
    @at-root #{ $BLOCK_NAME }__item:nth-child(odd) & {
      @include Mq(md) {
        padding-right: 0.75rem;
        padding-left: 32px;
      }
    }
    @at-root #{ $BLOCK_NAME }__item:nth-child(even) & {
      @include Mq(md) {
        padding-right: 32px;
        padding-left: 0.75rem;
      }
    }
  }

  &__text {
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
}
