.scroll-anim-22
  each item in items
    .scroll-anim-22__item.js-scroll-anim-22
      .scroll-anim-22__info
        h3.scroll-anim-22__job #{ item.job }
        p.scroll-anim-22__company #{ item.company }
        p.scroll-anim-22__term #{ item.term }
      .scroll-anim-22__text-wrapper
        .scroll-anim-22__text #{ item.text }
