<a href="#" class="card-06">
  <div class="card-06__head">
    <div class="card-06__img">
      img(src=img, alt="")
    </div>
    <p class="card-06__date">
      != date
    </p>
  </div>
  <p class="card-06__category">
    != category
  </p>
  <h3 class="card-06__title">
    != title
  </h3>
  <p class="card-06__text">
    != text
  </p>
</a>
