$BLOCK_NAME: '.button-37';

// 変数
$color_primary: #1c1c1c;
$color_bg: #fff;
$color_circle: #e3e3e3;
$duration_default: 0.6s;
$easing_default: cubic-bezier(0.85, 0, 0.15, 1);

#{ $BLOCK_NAME } {
  position: relative;
  display: flex;
  align-items: center;
  padding: 60px 80px 60px;
  background: $color_bg;

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    content: '';
    background: $color_circle;
    border-radius: 50%;
    mix-blend-mode: exclusion;
    transition: transform $duration_default $easing_default;
    transform: scale(0.4);
  }

  & > span {
    padding-bottom: 1px;
    font-size: 14px;
    line-height: 1;
    color: $color_primary;
    border-bottom: 1px solid $color_primary;
  }

  &:hover {
    &::after {
      transform: scale(1);
    }
  }
}
