$BLOCK_NAME: '.button-43';

// 変数
$color_primary: #ce009f;
$color_secondary: #edeae7;
$color_secondary_light: #f5f4f3;
$color_white: #fff;
$color_black: #1a1a1a;

#{ $BLOCK_NAME } {
  //
}
