$BLOCK_NAME: '.button-03';

// 変数
$color-primary: #e6c9a1;
$transition-text: 0.2s;
$transition-bg: 0.6s;
$easing-bg: cubic-bezier(0.215, 0.61, 0.355, 1);

#{ $BLOCK_NAME } {
  position: relative;
  padding: 15px 10px;
  font-size: 13px;
  font-weight: bold;
  &::before {
    position: absolute;
    right: 0;
    bottom: 4px;
    left: 0;
    display: block;
    height: 20px;
    content: '';
    background: $color-primary;
    transition: transform $transition-bg $easing-bg;
    transform-origin: bottom right;
  }
  &__text {
    position: relative;
    padding-right: 40px;
    transition: color $transition-text ease-in;
  }
  &__arrow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
  }
  &:hover {
    &::before {
      transform: scaleX(0);
    }
    .button-03__text {
      color: $color-primary;
    }
  }
}
