.hero-01#js-hero-01
  .hero-01__kv
    .hero-01__kv-title
      span.hero-01__kv-sub-title
        span サブタイトル1行目
        span サブタイトル2行目
      span.hero-01__kv-main-title
        span MAIN TITLE 01
        span MAIN TITLE 02 長い文字列長い文字列
    .hero-01__kv-bg
      img(src="https://picsum.photos/id/100/1280/1280")
  .hero-01__content
    - for (var i = 0; i < 40; i++)
      p #{ text }