$BLOCK_NAME: '.hero-01';

// 変数
$kv_height: 100vh;
$content_padding: 24px;

#{ $BLOCK_NAME } {
  position: relative;
  min-height: $kv_height;
  padding-top: $kv_height;

  &__kv {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $kv_height;
  }

  &__kv-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $content_padding;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    line-height: 1;
    font-weight: bold;
  }

  &__kv-sub-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__kv-main-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 32px;
  }

  &__kv-bg {
    position: absolute;
    inset: 0;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    padding: $content_padding;
    padding-top: 320px;
  }
}
