each accordion in accordionItems
  div.accordion-01.js-accordion-01
    div.accordion-01__head
      p.accordion-01__sub-heading
        span #{ accordion.subHeading }
      h3.accordion-01__heading #{ accordion.heading }
      div.accordion-01__icon
    div.accordion-01__content-wrapper
      div.accordion-01__content #{ accordion.content }
