each accordion in accordionItems
  .accordion-01.js-accordion-01
    .accordion-01__head
      p.accordion-01__sub-heading
        span #{ accordion.subHeading }
      h3.accordion-01__heading #{ accordion.heading }
      .accordion-01__icon
    .accordion-01__content-wrapper
      .accordion-01__content #{ accordion.content }
