$BLOCK_NAME: '.other-01';

#{ $BLOCK_NAME } {
  font-size: 30px;
  font-weight: bold;
  background: url(https://enjin-dash.com/img/about/animated_text_fill.png)
    repeat-y;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: auto 100%;
  animation: other01SlideBg 20s linear infinite;
}

@keyframes other01SlideBg {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
