#js-utility-06.utility-06.p-2
  #js-utility-06-orders
  button.js-utility-06-order-add.button.is-fullwidth.is-primary.is-outlined.mt-4 注文を追加
  button.js-utility-06-order-submit.button.is-fullwidth.is-info.mt-4 注文する

//- モーダル
#js-utility-06-modal.modal
  .js-utility-06-modal-close.modal-background
  .modal-card
    header.modal-card-head
      p.modal-card-title トッピング追加
      button.js-utility-06-modal-close.delete(aria-label='close')
    section#js-utility-06-modal-body.modal-card-body
    footer.modal-card-foot
      button#js-utility-06-modal-submit.button.is-primary 決定
      button.js-utility-06-modal-close.button 閉じる
