a.card-20(href=link)
  h2.card-20__heading #{ heading }
  .card-20__img-wrapper
    .card-20__img
      img(src='https://picsum.photos/id/237/320/180')
    .card-20__img
      img(src='https://picsum.photos/id/238/320/180')
    .card-20__img
      img(src='https://picsum.photos/id/242/320/180')
  h3.card-20__sub-heading #{ sub }


//- <a href="/work" class="service__element service__element--left w-inline-block">
//-   <h2 class="service__heading">Brands and businesses with a fine soul</h2>
//-   <div class="service__image-wrapper">
//-     <img src="https://assets.website-files.com/6297497982f267a133b5ab4c/63739c1f8d8dbed6228f5df4_Capture%20d%E2%80%99e%CC%81cran%202022-11-09%20a%CC%80%2017.43%203.jpg" loading="eager" sizes="(max-width: 479px) 272px, (max-width: 767px) 320px, (max-width: 991px) 20vw, 22vw" srcset="https://assets.website-files.com/6297497982f267a133b5ab4c/63739c1f8d8dbed6228f5df4_Capture%20d%E2%80%99e%CC%81cran%202022-11-09%20a%CC%80%2017.43%203-p-500.jpg 500w, https://assets.website-files.com/6297497982f267a133b5ab4c/63739c1f8d8dbed6228f5df4_Capture%20d%E2%80%99e%CC%81cran%202022-11-09%20a%CC%80%2017.43%203.jpg 699w" alt="heetch project" class="service__image service__image--one" style="transform: translate(0px, 0px);">
//-     <img src="https://assets.website-files.com/6297497982f267a133b5ab4c/63739c1e7edcfb0ba7693c5c_Capture%20d%E2%80%99e%CC%81cran%202022-11-09%20a%CC%80%2017.43%201.jpg" loading="eager" sizes="100vw" srcset="https://assets.website-files.com/6297497982f267a133b5ab4c/63739c1e7edcfb0ba7693c5c_Capture%20d%E2%80%99e%CC%81cran%202022-11-09%20a%CC%80%2017.43%201-p-500.jpg 500w, https://assets.website-files.com/6297497982f267a133b5ab4c/63739c1e7edcfb0ba7693c5c_Capture%20d%E2%80%99e%CC%81cran%202022-11-09%20a%CC%80%2017.43%201.jpg 579w" alt="vana" class="service__image service__image--two" style="display: none; transform: rotate(2deg);">
//-     <img src="https://assets.website-files.com/6297497982f267a133b5ab4c/63739c1fcb8f307418f72c58_Capture%20d%E2%80%99e%CC%81cran%202022-11-09%20a%CC%80%2017.43%202.jpg" loading="eager" sizes="100vw" srcset="https://assets.website-files.com/6297497982f267a133b5ab4c/63739c1fcb8f307418f72c58_Capture%20d%E2%80%99e%CC%81cran%202022-11-09%20a%CC%80%2017.43%202-p-500.jpg 500w, https://assets.website-files.com/6297497982f267a133b5ab4c/63739c1fcb8f307418f72c58_Capture%20d%E2%80%99e%CC%81cran%202022-11-09%20a%CC%80%2017.43%202-p-800.jpg 800w, https://assets.website-files.com/6297497982f267a133b5ab4c/63739c1fcb8f307418f72c58_Capture%20d%E2%80%99e%CC%81cran%202022-11-09%20a%CC%80%2017.43%202.jpg 818w" alt="rose island" class="service__image service__image--three" style="display: none; transform: rotate(-2deg);">
//-   </div>
//-   <h3 class="service__sub-heading">Our work</h3>
//- </a>