a.card-20(href=link)
  h2.card-20__heading #{ heading }
  .card-20__img-wrapper
    .card-20__img
      img(src='https://picsum.photos/id/237/320/180')
    .card-20__img
      img(src='https://picsum.photos/id/238/320/180')
    .card-20__img
      img(src='https://picsum.photos/id/242/320/180')
  h3.card-20__sub-heading #{ sub }