.other-35#js-other-35
  .section
    button.button.is-primary#js-other-35-button プレゼント取得

//- ローディングモーダル
.modal.other-35__modal#js-other-35-modal
  .modal-background
  .modal-content
    .box.other-35__modal-box
      .other-35__modal-loader#js-other-35-loader
      .other-35__modal-close
        .content.has-text-centered
          p 取得が完了しました
          p
            button.button#js-other-35-close 閉じる

script(src=path('/js/script.js'))