$BLOCK_NAME: '.scroll-anim-03';

// 変数
$easing_default: cubic-bezier(0.45, 0.25, 0.15, 1);
$delay_each: 0.03s;

#{ $BLOCK_NAME } {
  font-size: 0;
  opacity: 0;
  & > span {
    display: inline-block;
    font-size: 40px;
    opacity: 0;
    transition-timing-function: $easing_default;
    transition-duration: 1s;
    transition-property: transform, opacity;
    transform: translate(0.5em, 40%) rotateX(-30deg) rotateY(-30deg);
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        transition-delay: #{($i - 1) * $delay_each};
      }
    }
  }
  &.is-animated {
    opacity: 1;
    & > span {
      opacity: 1;
      transform: translate(0) rotate(0);
    }
  }
}
