<a href="" class="card-02">
  <p class="card-02__tag">
    != tag
  </p>
  <p class="card-02__icon">
    img(src=img, alt="")
  </p>
  <p class="card-02__heading">
    != heading
  </p>
  <p class="card-02__text">
    != text
  </p>
  <div class="card-02__button"></div>
</a>
