$BLOCK_NAME: '.utility-01';

// 変数

#{ $BLOCK_NAME } {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-shadow: 0 -12px 24px rgba(#000, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: inherit;
  transform: translateY(24px);

  @at-root .is-animated > #{ $BLOCK_NAME } {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
