div.carousel-01
  div.carousel-01__title お知らせ
  div.carousel-01__items#js-carousel-01-items
    ul
      each item in items
        li
          a.carousel-01__item(href=item.link)
            span.carousel-01__item-date #{ item.date }
            span.carousel-01__item-text #{ item.text }
  div.carousel-01__pager#js-carousel-01-pager
