<a href="#" class="card-08">
  <p class="card-08__date">
    != date
  </p>
  <div class="card-08__img">
    img(src=img, alt="")
  </div>
  <h3 class="card-08__title">
    != title
  </h3>
  <p class="card-08__link">
    <span>READ</span>
  </p>
</a>
