$BLOCK_NAME: '.button-10';

// 変数
$color_border: #dfdfdb;
$color_border_hover: #79520b;
$transition_border: 0.5s;
$animation_slide: 0.3s;
$delay_slide: 0.1s;
$length_slide: 8px;

#{ $BLOCK_NAME } {
  position: relative;
  display: inline-block;
  height: 48px;
  overflow: hidden;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid $color_border;
  border-radius: 24px;
  transition: border-color $transition_border;
  &__text,
  &__hover-text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 72px 0 24px;
    & > span {
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          animation-delay: #{$i * $delay_slide};
        }
      }
    }
  }
  &__text {
    // opacity: 0;
    & > span {
      animation: button10TextSlideEnter $animation_slide forwards;
      // animation: button10TextSlideLeave $animation_slide;
    }
  }
  &__hover-text {
    // opacity: 0;
    transform: translateY(-100%);
    & > span {
      opacity: 0;
      transform: translateX(-$length_slide);
      // animation: button10TextSlideEnter $animation_slide;
      animation: button10TextSlideLeave $animation_slide forwards;
    }
  }
  &__arrow {
    position: absolute;
    top: 0;
    right: 24px;
    bottom: 0;
    display: block;
    width: 10px;
    height: 10px;
    margin: auto;
    background: url(https://harizury.com/assets/img/cmn/arrow.svg) center
      no-repeat;
    background-size: contain;
  }
  &:hover {
    border-color: $color_border_hover;
  }
  &:hover &__text,
  &:hover &__hover-text {
    & > span {
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          animation-delay: #{$i * $delay_slide};
        }
      }
    }
  }
  &:hover &__text {
    & > span {
      // opacity: 0;
      // transform: translateX(-$length_slide);
      // animation: button10TextSlideEnter $animation_slide;
      animation: button10TextSlideLeave $animation_slide forwards;
    }
  }
  &:hover &__hover-text {
    & > span {
      opacity: 1;
      transform: translateX(0);
      animation: button10TextSlideEnter $animation_slide forwards;
      // animation: button10TextSlideLeave $animation_slide;
    }
  }
}

@keyframes button10TextSlideEnter {
  0% {
    opacity: 0;
    transform: translateX($length_slide);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes button10TextSlideLeave {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-$length_slide);
  }
}
