$BLOCK_NAME: '.faq-02';

// 変数
$color_primary: #01c584;
$color_border: #eee;
$color_answer_bg: rgba(238, 238, 238, 0.9);
$color_white: #fff;
$color_black: #000;
$duration_default: 0.2s;

#{ $BLOCK_NAME } {
  letter-spacing: 1px;
  &__question {
    position: relative;
    padding: 25px 25px 25px 100px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid $color_border;
    &::before,
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      display: block;
    }
    &::before {
      left: 0;
      width: 80px;
      padding: 20px 0;
      font-size: 20px;
      color: $color_white;
      text-align: center;
      content: 'Q';
      background: $color_black;
    }
    &::after {
      right: 10px;
      width: 10px;
      height: 10px;
      margin: auto;
      content: '';
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      transition: transform $duration_default;
      transform: rotate(135deg);
    }
    &.is-active::after {
      transform: rotate(-45deg);
    }
  }
  &__answer {
    height: 0;
    overflow: hidden;
  }
  &__answer-text {
    position: relative;
    padding: 25px 25px 25px 100px;
    background: $color_answer_bg;
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 80px;
      padding: 10px 0;
      font-size: 22px;
      color: $color_primary;
      text-align: center;
      content: 'A';
    }
    &::after {
      position: absolute;
      top: 16px;
      left: 20px;
      display: block;
      width: 60px;
      height: 1px;
      content: '';
      background: $color_primary;
      transform: rotate(-55deg);
      transform-origin: top right;
    }
  }
}
