h2.scroll-anim-28#js-scroll-anim-28
  span.scroll-anim-28__main
    - for (var i = 0; i < main.length; i++)
      span #{ main[i] }
  span.scroll-anim-28__sub
    - for (var j = 0; j < sub.length; j++)
      span #{ sub[j] }
