ul.news-list-06
  each item in items
    li.news-list-06__item
      a.news-list-06__link(href=link)
        span.news-list-06__date #{ item.date }
        span.news-list-06__text #{ item.text }
