ul.scroll-anim-21#js-scroll-anim-21
  each item in items
    li.scroll-anim-21__item
      h3.scroll-anim-21__heading #{ item.heading }
      p.scroll-anim-21__number
        span.scroll-anim-21__count( data-count=item.count ) 0
        | #{ item.unit }
