$BLOCK_NAME: '.card-16';

// 変数
$color_primary: #ce009f;
$color_white: #fff;
$color_black: #1a1a1a;
$color_gray: #8b8b8b;
$shadow_default: 10px 25px 30px rgba(0, 0, 0, 0.08);
$shadow_hover: 0 10px 15px rgba(95, 20, 78, 0.3);
$duration_default: 1s;
$easing_default: cubic-bezier(0.215, 0.61, 0.355, 1);

#{ $BLOCK_NAME } {
  display: flex;
  width: 540px;
  min-height: 250px;
  overflow: hidden;
  font-family: 'Noto Sans JP', sans-serif;
  background: $color_white;
  box-shadow: $shadow_default;
  transition: background-color 1s, box-shadow 1s;
  &:hover {
    background: $color_primary;
    box-shadow: $shadow_hover;
  }

  &__img {
    position: relative;
    flex-shrink: 0;
    width: 270px;
    overflow: hidden;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center left;
      transition: transform $duration_default;
      @at-root #{ $BLOCK_NAME }:hover & {
        transform: scale(1.1);
      }
    }
  }

  &__img-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    & > svg {
      height: 100%;
      fill: $color_white;
      transition: fill $duration_default;
      @at-root #{ $BLOCK_NAME }:hover & {
        fill: $color_primary;
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px 20px 25px 0;
    margin-left: -20px;
  }

  &__text {
    flex-grow: 1;
    font-weight: 500;
    color: $color_black;
    transition: color $duration_default;
    @at-root #{ $BLOCK_NAME }:hover & {
      color: $color_white;
    }
  }

  &__date {
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 400;
    color: $color_gray;
    letter-spacing: 1px;
    transition: color $duration_default;
    @at-root #{ $BLOCK_NAME }:hover & {
      color: $color_white;
    }
  }
}
