.start-anim-01#js-start-anim-01
  .start-anim-01__content
    p.start-anim-01__text
      span.start-anim-01__count 0
      | %
    .start-anim-01__progress
      .start-anim-01__progress-val

div
  each item in items
    img(src=item.img, width='400px')
