.utility-11.p-2
  .field.has-addons
    .control.is-expanded
      input#js-utility-11-input.input(type='text', placeholder='QRコードに変換する文字を入力してください')
    .control
      button#js-utility-11-button.button.is-primary QRコード変換
  canvas#js-utility-11-canvas
