//- div.gallery-01

//- lightbox2の挙動確認に利用（上書きして大丈夫）
<a href="https://lokeshdhakar.com/projects/lightbox2/images/thumb-1.jpg" data-lightbox="roadtrip">Image #1</a>
<a href="https://lokeshdhakar.com/projects/lightbox2/images/thumb-2.jpg" data-lightbox="roadtrip">Image #2</a>
<a href="https://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg" data-lightbox="roadtrip">Image #3</a>
