<a href="#" class="card-07">
  <div class="card-07__img">
    img(src=img, alt="")
  </div>
  <div class="card-07__body">
    <p class="card-07__date">
      != date
    </p>
    <h3 class="card-07__title">
      != title
    </h3>
    <svg class="card-07__arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.95 4.93">
      <path d="M0 4.43h20.17" />
      <path d="M14.63 0v4.88h7.32L14.63 0z" />
    </svg>
  </div>
</a>
