form#js-utility-04.utility-04.p-2(autocomplete='off')
  .field
    .control
      input#js-utility-04-input.input(name='keyword', type='text', placeholder='キーワードを入力してください（例：朝ごはん）')
  #js-utility-04-recommend.panel
