$BLOCK_NAME: '.scroll-anim-04';

// 変数
$easing_default: cubic-bezier(0.87, 0, 0.13, 1);

#{ $BLOCK_NAME } {
  position: relative;
  width: 300px;
  overflow: hidden;
  &::after {
    position: absolute;
    top: -5%;
    right: -10%;
    bottom: -5%;
    left: -10%;
    display: block;
    content: '';
    background: #fff;
    transform: rotate(0.09deg) skewX(10deg);
  }
  &.is-animated {
    &::after {
      transition: transform 1s $easing_default;
      transform: rotate(0deg) skewX(10deg) translateX(-100%);
    }
  }
  & > img {
    width: 100%;
  }
}
