.other-38#js-other-38
  img.other-38__img(src=path('/img/components/others/other38/bg.jpg'), alt="")

p
  span ※グラデーション画像はフリー素材を利用
  br
  a(href="https://jp.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_16482584.htm") 著作者：user3802032
  span ／出典：Freepik
