$BLOCK_NAME: '.contents-01';

// 変数
$c_border: #ddd;
$c_bg_gray: #eee;

#{ $BLOCK_NAME } {
  .heading {
    font-size: 20px;
  }

  .heading-sub {
    font-size: 16px;
    font-weight: bold;
  }

  .box {
    padding: 24px;
    background: $c_bg_gray;
  }

  .blockquote {
    padding: 16px 0 16px 16px;
    border-left: 4px solid $c_border;
    font-style: italic;
    font-size: 12px;
  }

  .list {
    li {
      list-style: none;
    }
  }

  .table {
    table-layout: fixed;
  }

  .button {
    background: #000;
    color: #fff;
  }

  .note {
    font-size: 12px;
  }

  .link-external {
    color: #f00;
  }
}
