$BLOCK_NAME: '.other-37';

// 変数
$col-width: 180px;

#{ $BLOCK_NAME } {
  width: 100%;
  height: 500px;
  overflow: auto;
  max-width: calc(#{$col-width} * 8 + 20px);

  table {
    width: calc(#{$col-width} * 8);
  }

  tr:nth-of-type(1) {
    th {
      background: #000;
      color: #fff;
      position: sticky;
      top: 0;
      left: 0;
      z-index: 1;
      &:first-child {
        z-index: 2;
      }
      &:nth-child(7) {
        background: #006;
      }
      &:nth-child(8) {
        background: #600;
      }
    }
  }

  th,
  td {
    position: relative;
    width: $col-width;
    height: 60px;
    vertical-align: middle;
    text-align: center;
  }

  tr:not(:first-child) {
    th:nth-of-type(1) {
      background: #333;
      color: #fff;
      position: sticky;
      top: 0;
      left: 0;
    }
  }
}
