$BLOCK_NAME: '.card-03';

// 変数
$color_primary: #000;
$color_secondary: #a3a3a3;
$color_border: #e0e0e0;
$color_border_hover: #333;

#{ $BLOCK_NAME } {
  display: block;
  &__img {
    border: 1px solid $color_border;
    & > img {
      width: 100%;
    }
  }
  &:hover &__img {
    border-color: $color_border_hover;
  }
  &__category {
    margin-top: 12px;
    font-size: 14px;
    color: $color_secondary;
  }
  &__heading {
    margin-top: 2px;
    font-size: 16px;
    font-weight: bold;
    color: $color_primary;
    & > span {
      border-bottom: 1px solid $color_primary;
    }
  }
  &:hover &__heading {
    & > span {
      border-color: transparent;
    }
  }
}
