$BLOCK_NAME: '.card-21';

// 変数

#{ $BLOCK_NAME } {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 24px;
  }

  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
  background: #eee;
  position: relative;
  &:has(#{ $BLOCK_NAME }__link:hover) {
    background: #fee;
  }

  &__link {
    // display: inline-block;
    // height: 0;
    &::after {
      position: absolute;
      inset: 0;
      content: '';
    }
    > span {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
  }
}
