table
  caption キャプション
  colgroup
    col.col-1
    col.col-2(span='2')
  thead
    tr
      th ヘッダー見出し
      th ヘッダー見出し
      th ヘッダー見出し
  tbody
    tr
      th 本体見出し
      td 本体セル
      td 本体セル
  tfoot
    tr
      th フッター見出し
      td フッターセル
      td フッターセル