#js-utility-05.utility-05.p-2
  .field
    .control
      .select.is-fullwidth
        select#js-utility-05-prefecture(name='prefecture', disabled)
  .field
    .control
      .select.is-fullwidth
        select#js-utility-05-district(name='district', disabled)
  .field
    .control
      .select.is-fullwidth
        select#js-utility-05-town(name='town', disabled)
