.start-anim-02#js-start-anim-02
  .start-anim-02__bg
    .start-anim-02__bg-item
    .start-anim-02__bg-item
    .start-anim-02__bg-item
    .start-anim-02__bg-item
  p.start-anim-02__content
    each c in ['L', 'O', 'A', 'D', 'I', 'N', 'G']
      span #{ c }

div
  each item in items
    img(src=item.img, width='400px')
