.other-27#js-other-27
  .other-27__main
    .other-27__spacer
    .other-27__inner
      .other-27__text
        span TEXT
      .other-27__img
        img(src=img)
      .other-27__text.--front
        span TEXT
    .other-27__spacer
  .other-27__bg