.other-25#js-other-25
  .other-25__back
    img(src='/parts/img/components/others/other25/img-back.png', alt='')
  .other-25__center
    img(src='/img/components/others/other25/img-center.png', alt='')
  .other-25__front
    img(src='/parts/img/components/others/other25/img-front.png', alt='')
