$BLOCK_NAME: '.other-25';

// 変数
$offset: 50px;

#{ $BLOCK_NAME } {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1280 / 853;
  background: #000;

  &__back,
  &__center,
  &__front {
    position: absolute;
    top: -$offset;
    bottom: -$offset;
    left: -$offset;
    right: -$offset;
    transition: transform 0.2s;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__back {
    > img {
      transform: translateY(10px);
    }
  }

  &__front {
    > img {
      transform: translateY(-10px);
    }
  }
}
