ul.scroll-anim-19#js-scroll-anim-19
  each item in items
    li
      a.scroll-anim-19__item(href=item.imgModal, data-lightbox='SCROLL ANIM 19', data-title=item.title)
        img.scroll-anim-19__img(src=item.img)
