@import '../../node_modules/reset-css/sass/_reset.scss';

* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}
img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

@import '../components/**/*.scss';
