a.service-list-03(href=link)
  div.service-list-03__img
    img(src=img, alt="")
  p.service-list-03__text
    span #{ textEn }
    | #{ text }
  div.service-list-03__arrow
    span
    span
    span
