doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='description', content='アクセシビリティ練習')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(media='all', rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css')
    link(media='all', rel='stylesheet', href=path('/css/style.css'))
  body
    != yield
    script(src=path('/js/accessibility.js'))
