$BLOCK_NAME: '.button-38';

// 変数
$color_white: #fff;
$color_black: #000;

#{ $BLOCK_NAME } {
  position: relative;
  padding: 36px 48px;
  overflow: hidden;
  color: $color_black;
  background: $color_white;
  border: 1px solid $color_black;

  &__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    content: '';
    background: $color_white;
    border-radius: 50%;
    mix-blend-mode: exclusion;
    transition: width 0.3s, height 0.3s;
    transform: translate(-50%, -50%);
    @at-root #{ $BLOCK_NAME }.is-hover & {
      width: 60px;
      height: 60px;
    }
    @at-root #{ $BLOCK_NAME }.is-hover.is-clicked & {
      animation: button38Circle 1s forwards;
    }
  }
}

@keyframes button38Circle {
  90% {
    width: 400px;
    height: 400px;
    opacity: 0;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}
