<a href="#" class="card-01">
  <div class="card-01__thumb" style="background-image: url(https://www.digireha.com/cms/wp-content/uploads/ffe05d1b51f26f925a3549649fa16f67.png);"></div>
  <p class="card-01__title">
    <span class="card-01__title-en">
      != titleEn
    </span>
    <span class="card-01__title-jp">
      != title
    </span>
  </p>
</a>
