header
  div.navbar
    .navbar-brand
      a.navbar-item(href='#') LOGO
    nav.navbar-start(aria-label='メインナビゲーション')
      a.navbar-item(href='#') ナビゲーション1
      a.navbar-item(href='#') ナビゲーション2
    search.navbar-end
      .navbar-item
        .field.has-addons
          .control
            input.input(type='search', placeholder='検索キーワード')
          .control
            button.button.is-primary 検索

main
  .hero.is-primary
    .hero-body
      h1 タイトル
  .container.is-desktop.content
    section.section(aria-labelledby='section1-heading')
      h2(id='section1-heading') セクション1
      p aria-labelledbyでランドマークを設定

    section.section(aria-label='セクション2')
      h2 セクション2
      p aria-labelでランドマークを設定

    section.section
      h2 セクション3
      p ランドマークを設定していない

    div.section(role='region', aria-label='セクション4')
      h2 セクション4
      p ランドマークをセクション要素以外に設定

    div.section
      form(aria-labelledby='form-name')
        p(id='form-name') フォーム1
        p aria-labelledbyでランドマークを設定
        .field.is-horizontal
          .field-label
            .label 項目名
          .field-body
            .field
              .control
                input.input(type='text')

    div.section
      form(aria-label='フォーム2')
        p フォーム2
        p aria-labelでランドマークを設定
        .field.is-horizontal
          .field-label
            .label 項目名
          .field-body
            .field
              .control
                input.input(type='text')

    div.section
      form
        p フォーム3
        p ランドマークを設定していない
        .field.is-horizontal
          .field-label
            .label 項目名
          .field-body
            .field
              .control
                input.input(type='text')

    div.section
      div(role='form', aria-label='フォーム4')
        p フォーム4
        p ランドマークをフォーム要素以外に設定
        .field.is-horizontal
          .field-label
            .label 項目名
          .field-body
            .field
              .control
                input.input(type='text')

    aside.section
      p 補足情報

footer.has-background-light
  .container.is-desktop.content
    div.section フッター