.accessibility-01
  header
    nav.navbar(role='navigation' aria-label='main navigation')
      .navbar-brand
        a.navbar-item(href='https://bulma.io') LOGO
  main
    .hero.is-primary
      .hero-body
        h1 H1 タイトル
    .container.is-desktop.content
      section.section
        h2 H2 大見出し
        div
          article テキストが入ります。
          section テキストが入ります。
        div
          a(href='#')
            article テキストが入ります。
          a(href='#')
            section テキストが入ります。
  footer.has-background-light
    .container.is-desktop.content
      div.section フッター