.other-18
  section.other-18__layout-container
    h2.other-18__heading サイドバーあり
    .other-18__layout-sidebar
      .other-18__content-container
        .grid
          - for (var i = 0; i < 5; i++)
            .card__container
              .card
                .card__thumb
                  img(src='https://picsum.photos/id/237/400/400')
                .card__body
                  .card__title 項目#{i + 1}
                  .card__text テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      .other-18__sidebar-container
        .other-18__sidebar サイドバー

  section.other-18__layout-container
    h2.other-18__heading サイドバーなし
    .other-18__layout-single
      .grid
        - for (var i = 0; i < 5; i++)
          .card__container
            .card
              .card__thumb
                img(src='https://picsum.photos/id/237/400/400')
              .card__body
                .card__title 項目#{i + 1}
                .card__text テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
