$BLOCK_NAME: '.news-list-04';

// 変数
$color_primary: #52b59c;
$color_border: #e6e6e6;
$color_white: #fff;
$color_black: #3a3a3a;
$duration_default: 0.2s;
$duration_border: 0.5s;
$easing_default: ease;

#{ $BLOCK_NAME } {
  &__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px 0;
    transition: color $duration_default $easing_default;
    @include Mq(md) {
      flex-wrap: nowrap;
    }
    &::before,
    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      height: 1px;
      content: '';
    }
    &::before {
      background: $color_border;
    }
    &::after {
      background: $color_primary;
      transition: transform $duration_border $easing_default;
      transform: scaleX(0);
    }
    &:hover {
      color: $color_primary;
      &::after {
        transform: scaleX(1);
      }
    }
  }
  &__date {
    margin-right: 10px;
    font-size: 14px;
    @include Mq(md) {
      width: 10%;
      margin-right: 2%;
    }
  }
  &__cat {
    display: inline-block;
    width: 120px;
    padding: 3px 5px;
    font-size: 12px;
    color: $color_white;
    text-align: center;
    background-color: $color_black;
    border-radius: 2px;
    @include Mq(md) {
      width: 15%;
      margin: 0 3% 0 30px;
    }
  }
  &__text {
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    @include Mq(md) {
      width: 70%;
      margin-top: 0;
    }
  }
}
