ul.scroll-anim-17#js-scroll-anim-17
  each item in items
    li
      a.scroll-anim-17__item(href=item.link) #{ item.text }
div(style='height: 1000px; padding-top: 72px')
  p スクロール方向が上の場合、メニュー表示
