.other-36#js-other-36
  .section
    .buttons
      .button.is-primary(data-emotion='happy') 喜ぶ
      .button.is-primary(data-emotion='angry') 怒る
      .button.is-primary(data-emotion='sad') 哀しむ
    .other-36__anim-container#js-other-36-anim-container

script(src=path('/js/script.js'))