//- TODO: ホバーの挙動対応する
<a href="" class="card-03">
  <div class="card-03__img">
    img(src=img, alt="")
  </div>
  <p class="card-03__category">
    != category
  </p>
  <p class="card-03__heading">
    <span class="card-03__heading-inner">
      != heading
    </span>
  </p>
</a>
