header ヘッダー

.container.is-desktop.content
  nav ナビゲーション
  hgroup
    p Hグループ
    h1 H1見出し
  section
    p セクション
    h2 H2見出し
    section
      h3 H3見出し
      section
        h4 H4見出し
        section
          h5 H5見出し
          section
            h6 H6見出し
  article 記事
  aside 補足

footer
  div フッター
  address
    p お問い合わせはこちら