$BLOCK_NAME: '.button-16';

// 変数
$color_primary: #074e40;
$color_white: #fff;
$duration_default: 0.2s;

#{ $BLOCK_NAME } {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $color_white;
  text-align: center;
  letter-spacing: 3px;
  background: $color_primary;
  border: 1px solid $color_primary;
  transition: all $duration_default;
  &::before,
  &::after {
    position: absolute;
    display: block;
    width: 30px;
    height: 1px;
    content: '';
    background: #000;
    transition: all $duration_default;
  }
  &::before {
    top: 45%;
    right: -9px;
    background: linear-gradient(
      to right,
      $color_white 70%,
      $color_primary 70% 100%
    );
  }
  &::after {
    top: 50%;
    right: -21px;
    background: linear-gradient(
      to right,
      $color_white 30%,
      $color_primary 30% 100%
    );
  }
  &:hover {
    color: $color_primary;
    letter-spacing: 5px;
    background: $color_white;
    &::before,
    &::after {
      right: -15px;
      background: $color_primary;
    }
  }
}
