$BLOCK_NAME: '.other-12';

// 変数

#{ $BLOCK_NAME } {
  display: grid;
  gap: 20px;
  grid-template-areas:
    'text'
    'img1'
    'img2'
    'img3'
  ;

  @include Mq(sm) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'text img1'
      'text img3'
      'img2 img3'
    ;
  }

  &__text {
    grid-area: text;
  }

  &__img-1 {
    grid-area: img1;
  }

  &__img-2 {
    grid-area: img2;
  }

  &__img-3 {
    grid-area: img3;
  }
}
