$BLOCK_NAME: '.other-28';

// 変数
// min関数のエラー回避：https://note.com/takamoso/n/n82cdb89f024f
$offset_decoration: unquote('min(-35%, -8px)');
$transition: 0.5s;

#{$BLOCK_NAME} {
  // コンポーネント集のレイアウト用のクラス（実際のプロジェクトで利用するときは不要）
  &__layout {
    display: flex;
    gap: 24px;
  }

  --size: 24px;
  --color-base: #ddd;
  --color-active: #f00;
  --color-hover: #ff9cf0;
  --color-decoration: #ff9cf0;

  cursor: pointer;
  position: relative;
  width: var(--size);
  height: var(--size);

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    > svg {
      fill: var(--color-base);
      transition: fill 0.3s;
      @at-root #{$BLOCK_NAME}:hover & {
        fill: var(--color-hover);
      }
      @at-root #{$BLOCK_NAME}.--checked & {
        fill: var(--color-active);
        // transition: fill 0.3s;
        // transition: fill $transition;
      }
      @at-root #{$BLOCK_NAME}.--checked.--anim & {
        animation: other28Icon $transition forwards;
      }
    }
  }

  &__particles {
    position: absolute;
    top: $offset_decoration;
    bottom: $offset_decoration;
    left: $offset_decoration;
    right: $offset_decoration;
    z-index: 1;
    pointer-events: none;
  }

  &__particle {
    position: absolute;
    top: 0;
    // bottom: 50%;
    bottom: 75%;
    left: 0;
    right: 0;
    width: 4px;
    margin: auto;
    overflow: hidden;
    border-radius: 9999px;
    // transform-origin: bottom;
    transform-origin: center 200%;
    &:nth-child(1) {
      transform: rotate(0);
    }
    &:nth-child(2) {
      transform: rotate(60deg);
    }
    &:nth-child(3) {
      transform: rotate(120deg);
    }
    &:nth-child(4) {
      transform: rotate(180deg);
    }
    &:nth-child(5) {
      transform: rotate(240deg);
    }
    &:nth-child(6) {
      transform: rotate(300deg);
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: var(--color-decoration);
      border-radius: 9999px;
      transform: translateY(105%);
      // opacity: 0;
      transition: all 0s;
      @at-root #{$BLOCK_NAME}.--checked.--anim & {
        opacity: 1;
        transform: translateY(-105%);
        transition: all $transition;
      }
    }
  }
}

@keyframes other28Icon {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    // fill: $c_active;
  }
}
