a.card-19(href=link)
  .card-19__img
    .card-19__img-container
      img(src='https://picsum.photos/id/237/300/300')
  .card-19__border
    .card-19__border-line.--top-right
    .card-19__border-line.--bottom-left
  .card-19__border-text VIEW