a.other-02(href=link)
  p.other-02__shoulder FOR
    span #{ headingEn }
  h3.other-02__heading #{ heading }
  div.other-02__arrow
    svg(x="0px", y="0px", width="26px", height="9px", viewBox="0 0 26 9")
      polygon(points="21.5,0 20.8,0.7 24.1,4 0,4 0,5 24.1,5 20.8,8.3 21.5,9 26,4.5")
      path(d="M23.5,7.1")
  div.other-02__bg-wrapper
    div.other-02__bg
