a.service-list-03(href=link)
  .service-list-03__img
    img(src=img, alt='')
  p.service-list-03__text
    span #{ textEn }
    | #{ text }
  .service-list-03__arrow
    span
    span
    span
