.scroll-anim-31#js-scroll-anim-31
  .scroll-anim-31__heading
    span THIS IS
    span TITLE
    span HOGEHOGE
  .scroll-anim-31__sub-heading SUB TEXT IS HERE FUGAFUGA!
  p.scroll-anim-31__content
    span.scroll-anim-31__content-line テキストが入ります。
    span.scroll-anim-31__content-line テキストが入ります。
    span.scroll-anim-31__content-line テキストが入ります。
    span.scroll-anim-31__content-line テキストが入ります。