.loader-01
  .loader-01__left-container
    .loader-01__left-wrapper
      .loader-01__left
  .loader-01__right-container
    .loader-01__right-wrapper
      .loader-01__right
.loader-01.--border
  .loader-01__left-container
    .loader-01__left-wrapper
      .loader-01__left
  .loader-01__right-container
    .loader-01__right-wrapper
      .loader-01__right
