.other-39
  .other-39__bg
  .other-39__content
    svg.other-39__line(viewBox="0 0 192 192", xmlns="http://www.w3.org/2000/svg")
      circle.other-39__line-base(cx="96", cy="96", r="89")
      path.other-39__line-value(d="M96 7C145.153 7 185 46.8467 185 96C185 145.153 145.153 185 96 185C46.8467 185 7 145.153 7 96C7 81.0551 10.6836 66.9705 17.1924 54.6047")
    .other-39__num
      span 00.0
      span.other-39__num-unit %
  .other-39__pop-container
    .other-39__pop 名前が入ります
  .other-39__cover
    .other-39__cover-name 名前が入ります
