.other-20
  .modal
    p モーダル1
    div
      button.button ボタン1
  .modal(style="--type: disabled;")
    p モーダル2
    div
      button.button ボタン2
  .card
    p カード1
    div
      button.button ボタン3
  .card(style="--type: disabled;")
    p カード2
    div
      button.button ボタン4
