main.container.is-desktop.content
  p 段落
  hr
  pre 整形済みテキスト
  blockquote ブロック引用
  ol
    li 項目1
    li 項目2
    li 項目3
  ul
    li 項目1
    li 項目2
    li 項目3
  menu
    li メニュー1
    li メニュー2
    li メニュー3
  dl
    dt 説明用語1
    dd 詳細説明1
    dt 説明用語2
    dd 詳細説明2
  figure
    img(src='https://picsum.photos/id/237/200/300', alt='こちらを見上げる犬')
    figcaption 図キャプション
  search 一般検索
  div コンテンツ区分
