//- メニュー
.menu-01#js-menu-01
  ul.menu-01__items
    each item in items
      li
        a.menu-01__item(href=item.link) #{ item.text }
          span.menu-01__item-mask
//- ボタン
a.menu-01__button.js-menu-01-button(href="")
  .menu-01__button-open
    - for (var n = 0; n < 3; n++)
      span.menu-01__button-open-dots
        span
        span
        span
  .menu-01__button-close
